@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #301515;
    color: #fff ;
    text-align: center;
    width: 80%;
    margin: auto;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif; 
}
a{
    text-decoration: none;
    color: #fff;
}

input{
    background-color: #000;
    color: #fff;
    border: 0;
    outline: none;
    padding: 10px;
    width: 100%; 
    margin: 5px 0; 
    height: 30px;
}
.price input{
    width: 20%;   
}
#total {
    background-color: #a00d02;
    padding: 5px 2px;
    border-radius: 5px;
}
#total::before{
    content: 'total: ';
}
button{
    margin-top: 10px;
    width: 100%;
    background-color: #060c63;
    border: 0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #02052b;
    letter-spacing: 1px;
    transition: all 0.5s;
}
 input:focus{
    transform: scale(1.1);
 }
.btnSearch{
    display: flex;
    justify-content: space-between;

}
.btnSearch button{
    width: 40%;
}
table{
    width: 100%;
    text-align: center;
    margin: 40px 0 130px 0;
}
.footer-content{
    border-top: #000 2px solid;
    padding: 15px 0;
    text-align: center;
    
}


@media (max-width: 700px) {
    body{
        text-align: center;
        width: 97%;
        margin: auto;   
    }
    .price input{
        width: 30%;   
    }
  }
  